@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
}

@media (max-width: 597px) {
  .hide-mobile {
    display: none !important;
  }

  .show-mobile {
    display: block !important;
  }
}

.show-mobile {
  display: none;
}

.link-text {
  color: blue;
  cursor: pointer;
}
